[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
streamlit = "*"
google-generativeai = "*"
python-dotenv = "*"
pandas = "*"
transformers = "*"
tiktoken = "*"
matplotlib = "*"
plotly = "*"
ipykernel = "*"
pyyaml = "*"
pypdf2 = "*"
imageio = "*"
faiss-cpu = "*"
sentence-transformers = "*"
torch = {version = "*", index = "downloadpytorch"}

[dev-packages]

[requires]
python_version = "3.12"
